Source: gxde-picker
Section: utils
Priority: optional
Maintainer: gfdgd xi <3025613752@qq.com>
Build-Depends: debhelper (>= 9),pkg-config, cmake, libxcb-util0-dev, libdtk2widget6-dev,qt6-tools-dev,qt6-svg-dev,qt6-base-private-dev,libxtst-dev,libwayland-dev,libegl-dev,
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: gxde-picker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Color picker tool for GXDE
 A color picker tool for GXDE.
